/* some style */

body {
  font-family: "Source Serif Pro";
  padding-left: 10px;
}

.CodeMirror {
  font-family: "Input Mono Comp";
  font-style: normal;
  font-weight: normal;
  padding: 15px;
  background-color: #2C2C2C;
  color: white;
  height: auto;
}

#bang textarea {
    margin-top: 10px;
}
#bang input {
    display: block;
    margin-top: 10px;
}

.error {
    padding: 5px;
    color: white;
    background-color: #A00000;
}

.input {
    width: 600px;
}

canvas {
    position: fixed;
    top: 5px;
    right: 5px;
}
