/* some style */

body {
  font-family: "Source Serif Pro";
  padding-left: 10px;
}

.code {
  font-family: "Input Mono Comp Md";
  font-style: normal;
  font-weight: normal;
  padding: 15px;
  background-color: #2C2C2C;
  color: white;
}

#bang textarea {
    margin-top: 10px;
}
#bang input {
    display: block;
    margin-top: 10px;
}

